#root {
  position: relative;
  display: flex;
  justify-content: center;
}

.scene_container {
  width: 100vw;
  height: 100vh;
}

.pages_container {
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 100vw;
  min-height: 100vh;
  max-width: 1800px;
  z-index: 3;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: var(--text-color-gray);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text-color-gold);
  border-radius: 6px;
}

@keyframes animation {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  *::-webkit-scrollbar {
    width: 6px;
  }
}
