@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400;500;600;700&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --body-background: rgb(12, 13, 14);
  --body-white: #eeeeee;
  --body-gray: rgb(29, 28, 27);
  --text-color-white: #eae8db;
  --text-color-gray: rgba(96, 96, 96, 0.465);
  --text-color-grayLigth: rgb(234, 225, 209);
  --text-color-gold: #b9ad65;
  --text-color-gold2: #eadb97;

  --text-color-blue: rgb(7, 255, 218);
}

.light-mode {
  --body-background: rgb(236, 236, 236);
  --body-gray: rgb(255, 255, 255);
  --text-color-white: #0a0a0c;
  --text-color-grayLigth: rgb(255, 217, 217);
}

.theme__red {
  --text-color-red: #dc3128;
}

.theme__orange {
  --text-color-red: #f26d00;
}

.theme__green {
  --text-color-red: #16af6d;
}

.theme__blue {
  --text-color-red: #0022aa;
}

.theme__pink {
  --text-color-red: #b20e8c;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  overflow: hidden;
  background: var(--body-background);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li,
:link {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

input {
  outline: none;
  font-family: inherit;
}

button {
  border: none;
}
